{{#if user.isroot}}
<div class="container p-4 col-4 mx-auto">
    <div class="card border-primary">
        <div class="card-body">
            <div class="text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png"
                    class="img-fluid w-50 h-50" />
                <h4 class="text-primary pt-2">Administrador</h4>

                <div class="p-4">
                    <div class="btn-group-vertical">
                        <a href="/links/gestionarUsuarios" class="btn btn-secondary btn-block">Usuarios</a>
                        <br>
                        <a href="/links" class="btn btn-secondary btn-block">Vehículos</a>

                    </div>
                    <div class="btn-group-vertical">
                        <a href="/links/gestionarReservasAdmin" class="btn btn-secondary btn-block">Reservas</a>
                        <br>
                        <a href="/links/rentados" class="btn btn-secondary btn-block">Rentas</a>
                    </div>
                    <div class="btn-group-vertical">
                        <a href="/links/generarFactura" class="btn btn-secondary btn-block">Facturas</a>
                        <br>
                        <a href="/links/historialRentas" class="btn btn-secondary btn-block">Historial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="container p-5 col-4 mx-auto">
    <div class="card border-primary">
        <div class="card-body">
            <div class="text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png"
                    class="img-fluid w-50 h-50" />
                <h4 class="text-primary pt-2"> {{user.first_name}} {{user.last_name}}</h4>
                <h5 class="text-primary"> @{{user.username}}</h5>
            </div>
            <div class="row">
                <div class="p-2 text-dark">
                    <h6>CC: </h6>
                    <h6>Correo: </h6>
                    <h6>Celular: </h6>
                    <h6>Tipo: </h6>
                </div>
                <div class="p-2 text-secondary">
                    <h6>{{user.identity_document}}</h6>
                    <h6>{{user.email}}</h6>
                    <h6>{{user.cellphone_number}}</h6>
                    <h6>{{user.user_type}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5">
        <a href="/links/editarPerfil/{{user.id}}" class="btn btn-primary btn-block">Editar perfil</a>
        <br>
        <a href="/links/autodeshabilitarUser" class="btn btn-danger btn-block">Eliminar perfil</a>
    </div>
</div>
{{/if}}