<div class="container p-4">
    <div class="mx-auto text-center">
        <h2 class="text-primary"> Detalles del Ingreso </h1>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/detalles">
                        <h6 class="text-center text-dark">Datos del vehículo</h6>
                        <div class="form-group">
                            <label class="text-dark">Placa</label>
                            <input type="text" value="{{link2.title}}" class="form-control" name="title"
                                placeholder="Title" readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">URL</label>
                            <input type="url" value="{{link2.url}} " name="url" class="form-control" placeholder="URL"
                                readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Descripción</label>
                            <textarea name="description" rows="2" class="form-control" placeholder="Descripcion"
                                readonly>{{link2.description}}</textarea>
                        </div>

                        <div class="dropdown-divider"></div>

                        <h6 class="text-center text-dark">Datos del cliente</h6>
                        <div class="form-group">
                            <label class="text-dark">Nombre completo</label>
                            <input type="text" value="{{link.nombre}}" class="form-control" name="nombre"
                                placeholder="Nombre Completo" readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Documento de identificación</label>
                            <input type="text" value="{{link.cc}}" class="form-control" name="cc" placeholder="C.C."
                                readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Contacto</label>
                            <input type="text" value="{{link.telefono}}" class="form-control" name="telefono"
                                placeholder="Telefono" readonly>
                        </div>

                        <div class="dropdown-divider"></div>

                        <h6 class="text-center text-dark">Datos del ingreso</h6>
                        <div class="form-group">
                            <label class="text-dark">Fecha de inicio</label>
                            <input type="date" value="{{timeago2 link.fechaInicio}}" name="fechaFin"
                                class="form-control" readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Fecha de fin</label>
                            <input type="date" value="{{timeago2 link.fechaFin}}" name="fechaFin" class="form-control"
                                readonly>
                        </div>
                        <div class="form-group">
                            <label class="text-dark">Valor</label>
                            <input type="txt" value="${{link.precio}}" class="form-control" name="precio"
                                placeholder="Precio total" step="10" readonly>
                        </div>
                        <div class="form-group">
                            <a href="/links/ingresosCarro/{{link2.id}}" class="btn btn-block btn-primary"> Volver </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>