<div class="container p-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card border-dark">
        <div class="card-header text-center text-dark">
          <h5> Renta de Autos Gaviria</h5>
          <h6> Cra. 30 #24-12 </h6>
          <h6> Santa Rosa de Cabal </h6>
          <h6> Tel: 6365745 </h6>
        </div>
        <div class="card-body">
          <div class="p-1 text-dark">
            <h5 class="text-center"> Factura No. {{rentas.id_rent}}</h5>
            <h6> <b>Fecha:</b> {{timeago2 rentas.start_date}} </h6>
            <h6> <b>Cliente:</b> {{rentas.firstname}} {{rentas.lastname}}</h6>
            <h6> <b>Identificación:</b> {{rentas.document_number}}</h6>
          </div>

          <hr class="border-secondary p-1">

          <table class="text-dark text-left table mx-auto p-1">
            <tr>
              <td>
                <h6><b>Vehículo</b></h6>
              </td>
              <td>
                <h6><b>Fecha inicio</b></h6>
              </td>
              <td>
                <h6><b>Fecha fin</b></h6>
              </td>
              <td>
                <h6><b>Monto</b></h6>
              </td </tr>
            <tr>
              <td>
                <h6>{{rentas.brand}} {{rentas.model}}</h6>
              </td>
              <td>
                <h6>{{timeago2 rentas.start_date}}</h6>
              </td>
              <td>
                <h6>{{timeago2 rentas.end_date}}</h6>
              </td>
              <td>
                <h6>${{rentas.price}}</h6>
              </td>
            </tr>
          </table>

          <hr class="border-secondary p-1">

          <div class="text-center text-secondary p-1">
            <h6>Elaborada por: Renta de Autos Gaviria</h6>
            <h6>www.renta-de-autos-gaviria.onrender.com</h6>
          </div>
        </div>
      </div>
      <div class="text-center p-4">
        <button class="btn btn-primary"> Descargar factura en PDF </button>
      </div>
    </div>
  </div>
</div>