<div class="container p-5">
  <div class="mx-auto text-center">
    <h2 class="text-primary">Mis Reservas</h1>
  </div>
  <div class="p-5">
    <table class="table table-striped mx-auto">
      {{#if rentas}}
      <thead class="thead-dark text-center">
        <tr>
          <th> Vehículo </th>
          <th> Fecha inicio </th>
          <th> Fecha fin </th>
          <th> Estado </th>
          <th> Acciones </th>
        </tr>
      </thead>
      {{#each rentas}}
      <tbody class="text-center">
        <tr>
          <td>{{brand}} {{model}}</td>
          <td>{{timeago2 start_date}}</td>
          <td>{{timeago2 end_date}}</td>
          <td>{{status}}</td>
          <td>
            <a href="/links/pagarDeposito/{{id}}" class="btn btn-primary"> Pagar depósito </a>
            <a href="/links/cancelar/{{id}}" class="btn btn-danger"> Cancelar </a>
          </td>
        </tr>
      </tbody>
      {{/each}}
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay reservas realizadas</p>
        </div>
      </div>
      {{/if}}
    </table>
  </div>
</div>