<div class="container p-5">
  <div class="mx-auto text-center">
    <h2 class="text-primary">Gestionar reservas</h1>
  </div>
  <div class="p-5">
    <table class="table table-striped mx-auto">
      {{#if rentas}}
      <thead class="thead-dark text-center">
        <tr>
          <th> Cliente </th>
          <th> Vehículo </th>
          <th> Estado </th>
          <th> N° Comprobante </th>
          <th> Acción </th>
        </tr>
      </thead>
      {{#each rentas}}
      <tbody class="text-center">
        <tr>
          <td>{{firstname}} {{lastname}}</td>
          <td>{{brand}} {{model}}</td>
          <td>{{status}}</td>
          <td>{{deposit_slip}}</td>
          <td>
            {{#if reservado}}
            <a href="/links/comprobar/{{id}}" class="btn btn-primary"> Comprobar </a>
            {{else}}
            <a href="" class="btn btn-primary disabled"> Comprobar </a>
            {{/if}}
            {{#if comprobado}}
            <a href="/links/rentar/{{id}}" class="btn btn-secondary"> Rentar </a>
            {{else}}
            <a href="" class="btn btn-secondary disabled"> Rentar </a>
            {{/if}}
            <a href="" class="btn btn-danger"> Cancelar </a>
          </td>
        </tr>
      </tbody>
      {{/each}}
      {{else}}
      <div class="col-md-4 mx-auto">
        <div class="card card-body text-center">
          <p>No hay reservas realizadas</p>
        </div>
      </div>
      {{/if}}
    </table>
  </div>
</div>