<div class="col-4 mx-auto p-4">
  <div class="card border-primary">
    <div class="card-body">
      <div class="text-center">
        <img src={{link.url}} class="img-fluid rounded" />
        <h3 class="text-center text-primary pt-2"> {{link.brand}} {{link.model}} </h3>
        <h5 class="text-center text-primary"> {{link.plate}} </h4>
      </div>
      <div class="row">
        <div class="p-2 text-dark">
          <h6>Propietario: </h6>
          <h6>Licencia de tránsito: </h6>
          <h6>Caja de cambios: </h6>
          <h6>Combustible: </h6>
          <h6>Precio por día: </h6>
          <h6>Estado: </h6>
        </div>
        <div class="p-2 text-secondary">
          <h6>{{user.first_name}} {{user.last_name}}</h6>
          <h6>{{link.transit_license}}</h6>
          <h6>{{link.gearbox}}</h6>
          <h6>{{link.fuel}}</h6>
          <h6>{{link.price}}</h6>
          <h6>{{link.estado}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5">
    <a href="/links/edit/{{link.id}}" class="btn btn-primary btn-block">Editar vehículo</a>
    <br>
    {{#if link.disponible}}
    <a href="/links/deshabilitarCar/{{link.id}}" class="btn btn-danger btn-block">Deshabilitar vehículo</a>
    {{else}}
    <a href="/links/habilitarCar/{{link.id}}" class="btn btn-success btn-block">Habilitar vehículo</a>
    {{/if}}

  </div>
</div>