<div class="container">
    {{#if user.isroot}}
    <div class="col-4 mx-auto p-4">
        <div class="card border-primary">
            <div class="card-body">
                <div class="text-center">
                    <h3 class="text-center text-primary"> {{link3.brand}} {{link3.model}} </h3>
                    <h5 class="text-center text-primary"> {{link3.plate}} </h5>
                </div>
                <div class="row">
                    <div class="p-2 text-dark">
                        <h6>Propietario: </h6>
                        <h6>Licencia de tránsito: </h6>
                        <h6>Caja de cambios: </h6>
                        <h6>Combustible: </h6>
                    </div>
                    <div class="p-2 text-secondary">
                        <h6>{{link3.user_id}}</h6>
                        <h6>{{link3.transit_license}}</h6>
                        <h6>{{link3.gearbox}}</h6>
                        <h6>{{link3.fuel}}</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{else}}
    <div class="mx-auto text-center p-4">
        <h2 class="text-primary">Reporte de Utilidades</h2>
        <h4 class="text-center text-secondary p-2"> {{link3.brand}} {{link3.model}} </h4>
        <h5 class="text-center text-secondary"> {{link3.plate}} </h5>

    </div>
    {{/if}}


    <!--      ____________________Ingresos_________________             -->

    <table class="table table-striped mx-auto">
        <div class="row ">
            <div class="col-4">
                <h3 class="text-dark">Ingresos</h2>
            </div>
        </div>

        {{#if links}}
        <thead class="thead-dark text-center">
            <tr>
                <th> Cliente </th>
                <th> Fecha </th>
                <th> Valor </th>
                <th> Acción </th>
            </tr>
        </thead>
        {{/if}}
        {{#each links}}
        <tbody class="text-center">
            <tr>
                <td>{{nombre}}</td>
                <td>{{timeago3 fechaInicio}}</td>
                <td>${{precio}}</td>
                <td>
                    <a href="/links/detalles/{{id_historial}}" class="btn btn-secondary"> Detalles </a>
                </td>
            </tr>
        </tbody>

        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay ingresos para este carro</p>
            </div>
        </div>
        {{/each}}
        {{#if links}}
        <thead class="text-center">
            <tr class="table-info">
                <td>
                    <h5>Total</h5>
                </td>
                <td></td>
                <td>
                    <h6> ${{totales.ingreso}} </h6>
                </td>
                <td>

                </td>
            </tr>
        </thead>
    </table>
    {{/if}}
    <br><br>
    <!--      ____________________Gastos_________________             -->

    <table class="table table-striped">
        <div class="row">
            <div class="col-4 ">
                <h3 class="text-dark">Gastos</h2>
            </div>
            <div class="col-2 ml-auto form-group">
                <a href="/links/gastos/{{link3.id}}" class="btn btn-primary btn-block"> Agregar </a>
            </div>
        </div>
        {{#if links2}}
        <thead class="thead-dark text-center">
            <tr>
                <th> Gasto </th>
                <th> Fecha </th>
                <th> Valor </th>
                <th> Acción </th>
            </tr>
        </thead>
        {{/if}}
        {{#each links2}}
        <tbody class="text-center">
            <tr>
                <td>{{ingreso}}</td>
                <td>{{timeago3 fecha}}</td>
                <td>${{valor}}</td>
                <td>
                    <a href="/links/editGastos/{{id}}" class="btn btn-secondary "> Editar </a>
                </td>
            </tr>
        </tbody>

        {{else}}
        <div class="col-md-5 mx-auto p-4">
            <div class="card card-body text-center">
                <p>No hay gastos para este carro</p>
            </div>
        </div>

        {{/each}}
        {{#if links2}}
        <thead class="text-center">
            <tr class="table-info">
                <td>
                    <h5>Total</h5>
                </td>
                <td></td>
                <td>
                    <h6> ${{totales.gasto}} </h6>
                </td>
                <td>

                </td>
            </tr>
        </thead>
    </table>
    {{/if}}
    </table>
    <br><br>
    <!--      ____________________Mantenimientos_________________             -->

    <table class="table table-striped">
        <div class="row">
            <div class="col-4">
                <h3 class="text-dark">Mantenimientos</h2>
            </div>
            <div class="col-2 ml-auto form-group">
                <a href="/links/mantenimiento/{{link3.id}}" class="btn btn-primary btn-block"> Agregar </a>
            </div>
        </div>
        {{#if links4}}
        <thead class="thead-dark text-center">
            <tr>
                <th> Descripción </th>
                <th> Valor </th>
                <th> Fecha </th>
                <th> Acción </th>
            </tr>
        </thead>
        {{/if}}
        {{#each links4}}
        <tbody class="text-center">
            <tr>
                <td>{{nombre}}</td>
                <td>{{km}}</td>
                <td>{{timeago3 fecha}}</td>
                <td>
                    <a href="/links/gastoRealizado/{{id_mantenimiento}}" class="btn btn-secondary">Realizado</a>
                </td>
            </tr>
        </tbody>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay mantenimientos para este carro</p>
            </div>
        </div>
        {{/each}}
    </table>
    <br><br>

    <div class="row ">
        <div class="col-4">
            <h3 class="text-dark">Utilidades</h3>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="text-center">
            {{#if totales.utilidad}}
            <tr class="table-success">
                <td>
                    <h5>Total</h5>
                </td>
                <td>
                    <h6> ${{totales.ganacia}} </h6>
                </td>
            </tr>
            {{else}}
            <tr class="table-danger">
                <td>
                    <h5>Total</h5>
                </td>
                <td>
                    <h6> ${{totales.ganacia}} </h6>
                </td>
            </tr>
            {{/if}}
        </thead>
    </table>
    <br>

    {{!-- <!--      ____________________Porcentajes_________________             -->

    <table class="table table-striped">
        <div class="row">
            <div class="col-6">
                <h2>Porcentajes de ganancias</h2>
            </div>
            <div class="col-3 ml-auto form-group">
                <a href="/links/porcentaje/{{link3.id}}" class="btn btn-success btn-block"> Agregar porcentaje </a>
            </div>
        </div>
        {{#if links5}}
        <thead class="thead-dark">
            <tr>
                <th style="width:30%"> Porcentaje </th>
                <th style="width:30%"> Valor </th>
                <th style="width:30%"> Total </th>
                <th style="width:30%"> Acción </th>
            </tr>
        </thead>
        {{/if}}
        {{#each links5}}
        <tbody>
            <tr>
                <td>{{descripcion}}</td>
                <td>{{valor}}%</td>
                <td>${{total}}</td>
                <td>
                    <a href="/links/editPorcentaje/{{id_porcentaje}}" class="btn btn-info">editar</a>
                </td>
            </tr>
        </tbody>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay Porcentajes para este carro</p>
            </div>
        </div>
        {{/each}}
    </table> --}}
</div>

{{!-- <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/jhonalex.gaviriatobon/">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1" href="https://twitter.com/JGaviria0">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>

            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1" href="https://www.instagram.com/jgaviria0/">
                    <i class="fab fa-instagram"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1" href="https://github.com/JGaviria0">
                    <i class="fab fa-github"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer --> --}}