<div class="container p-4">
    <div class="col-md-6 mx-auto">
        <h1 class="mx-auto p-2 text-center text-primary"> Vehículos </h1>
    </div>
    <div class="row">
        {{#each links}}
        <div class="col-md-4 p-4">
            <div class="card text-center border-primary">
                <div class="card-body">
                    <img src={{url}} class="img-fluid rounded" />
                    <h4 class="card-title m-2 text-dark">{{brand}} {{model}}</h4>
                    <h5 class="m-2 text-dark"> {{plate}}</h5>

                    {{!-- <p>{{timeago created_at}}</p> --}}

                    {{!-- <a href="/links/formularioRenta/{{id}}" class="btn btn-danger m-1"> Rentar </a>
                    <a href="/links/edit/{{id}}" class="btn btn-secondary m-1">Edit</a> --}}
                    <a href="/links/ingresosCarro/{{id}}" class="btn btn-primary m-2">Utilidades</a>
                    <a href="/links/reservarCarro/{{id}}" class="btn btn-secondary m-2">Reservar</a>

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p> Aún no hay carros registrados </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>