<div class="container p-4">
    <div class="col-md-6 mx-auto">
        <h1 class="mx-auto p-2 text-center text-primary"> Vehículos </h1>
    </div>
    <div class="row">
        {{#each links}}
        <div class="col-md-4 p-4">
            <div class="card text-center">
                <div class="card-body">
                    <img src={{url}} width="250px" height="200px" class="" />
                    <a href="/links/ingresosCarro/{{id}}">
                        <h3 class="card-title text-uppercase m-2 text-dark">
                            {{ title }}
                        </h3>
                    </a>
                    <h5 class="m-2 text-dark"> {{ description }}</h5>

                    {{!-- <p>{{timeago created_at}}</p> --}}

                    {{!-- <a href="/links/formularioRenta/{{id}}" class="btn btn-danger m-1"> Rentar </a>
                    <a href="/links/edit/{{id}}" class="btn btn-secondary m-1">Edit</a> --}}
                    <a href="/links/ingresosCarro/{{id}}" class="btn btn-primary m-2">Visualizar</a>

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p> No hay carros aun </p>
                <a href="/links/add"> Agregar un carro </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>