<div class="container p-4">
    <div class="col-md-6 mx-auto">
        <h1 class="mx-auto p-2 text-center text-primary"> Mís Vehículos </h1>
    </div>
    <div class="row">
        {{#each links}}
        <div class="col-md-4 p-4">
            <div class="card text-center border-primary">
                <div class="card-body">
                    <img src={{url}} width="250px" height="200px" class="" />
                    <h3 class="card-title text-uppercase m-2 text-dark">{{ title }}</h3>
                    <h5 class="m-2 text-dark"> {{ description }}</h5>

                    <a href="/links/gestionarCarro/{{id}}" class="btn btn-primary m-2">Gestionar</a>
                    <a href="/links/ingresosCarro/{{id}}" class="btn btn-secondary m-2">Ganancias</a>

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p> Aún no tienes carros registrados </p>
                <a href="/links/add"> ¡Registra tu carro aquí! </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>